#logo {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#cover-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-attachment: fixed;
    background-image: url("images/cover-page-background.jpeg");
    margin-bottom: 20px;
}

#project-tabs {
    text-align: center;
    margin-bottom: 30px;
    /* border: 1px solid black; */
}

/* .projectContainer {
    border: 1px solid black;
    height: 400px; 
    text-align: center;
    margin: 30px;
} */

.project-sub-tab {
    border: 2px solid black;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    background-image: url("images/cover-page-background.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.tab-text-format {
    white-space: pre-wrap;
    font-weight: bold;
    color: black;
    font-size: 12px;
}

#project-tabs a:hover, #project-tabs .tab-text-format:hover {
    text-decoration: none;
    color: #CCD4E1;
}

.projectContainer hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

.projectContainer hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.projectList li {
    margin-top: 5px;
    margin-bottom: 10px;
}

.projectContainer .projectList {
    list-style-type: none;
    padding-left: 1em;
    /* border: 1px solid black; */
}

.projectContainer .projectList li:before {
    content: "-";
    position: absolute;
    margin-left: -1em;
}

.projectImages {
    /* border: 1px solid black; */
    width: 100%;
    height: 600px;
     overflow: visible;
    /* white-space: nowrap; */
    overflow-y: scroll;
}

.projectImages::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: gray;
}

.projectImages::-webkit-scrollbar {
    
    width: 12px;
	background-color: gray;
}

.projectImages::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.projectImages .slide {
    display: inline-block;
    
}

img {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}