.resume-sub-tab {
    border: 2px solid black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto;
    background-image: url("images/cover-page-background.jpeg");
}

#resume-tabs {
    text-align: center;
}

.tab-text-format {
    position: absolute;
    white-space: pre-wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
    font-size: 12px;
}

.hidden {
    display: none;
}

.general-resume-formatting ul {
    list-style-type: none;
}

li:not(#test) {
    margin-bottom: 15px;
}

.timeline {
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
}