#logo {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#cover-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-attachment: fixed;
    background-image: url("images/cover-page-background.jpeg");
    margin-bottom: 20px;
}

.resume-sub-tab {
    border: 2px solid black;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: auto;
    background-image: url("images/cover-page-background.jpeg");
}

#resume-tabs {
    text-align: center;
    margin-bottom: 30px;
}

.tab-text-format {
    position: absolute;
    white-space: pre-wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: black;
    font-size: 12px;
}

.hidden {
    display: none;
}

.general-resume-formatting ul {
    list-style-type: none;
}

li:not(#nestedList) {
    margin-bottom: 30px;
}

.timeline {
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
}