extends layout
block tabContainer
    #project-tabs.container
        .row
            each project, index in projects
                .col
                    .project-sub-tab
                        a(href="javascript:displayTab('project" + (index + 1) + "');")
                            span.tab-text-format= project.title
    #overallProjects.container
        each project, index in projects
            .projectContainer
                div(id="project" + (index + 1), class="hidden")
                    .row
                        // Load project info
                        ul.projectList.col-sm-4.col-md-6.col-lg-4
                            li.projectDate= project.date
                            each projectInfo in project.description
                                li.projInfo= projectInfo
                        // Load project images
                        .projectImages.col-sm-8.col-md-6.col-lg-8.text-center
                            each projectImg in project.images
                                .slide
                                    img(src= projectImg)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="ProjectScript.js")
    script.
        var projInfo = document.getElementsByClassName("projInfo");
        var i;
        for (i = 0; i < projInfo.length; i++) {
            projInfo[i].innerHTML = projInfo[i].innerText;
        }