extends layout
block tabContainer
    #video-tabs.container
        .row
            each video, index in videos
                .col
                    .video-sub-tab
                        a(href="javascript:displayTab('video" + (index + 1) + "');")
                            span.tab-text-format= video.title
    #overallVideos.container
        each video, index in videos
            .videosContainer
                div(id="video" + (index + 1), class="hidden")
                    .row
                        div
                            each url in video.videoUrls
                                iframe(src= url, frameborder="0")
                            
                        
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script(src="VideoScript.js")