doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        title WestWay Projects
        link(rel="shortcut icon", type="image/x-icon", href="fivestarFavicon.ico")
        link#pagestyle(rel="stylesheet", type="text/css", href="WesleyProject.css")
        // <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
    body
        #cover-section
            #west-way-header.text-center
                h2 WestWay
                h5 Projects
                a(href="/")
                    img#logo(src="images/WestWay.JPG")
        #project-tabs.container
            .row
                .col
                    .project-sub-tab
                        a(href="javascript:displayProject('project7');")
                            span.tab-text-format Search Engine
                .col
                    .project-sub-tab
                        a(href="javascript:displayProject('project6');")
                            span.tab-text-format Query Suggestion
                .col
                    .project-sub-tab
                        a(href="javascript:displayProject('project5');")
                            span.tab-text-format Cuisinify
                .col
                    .project-sub-tab
                        a(href="javascript:displayProject('project4');")
                            span.tab-text-format Five Star Upholstery and Drapery
                .col
                    .project-sub-tab
                        a(href="javascript:displayProject('project3');")
                            span.tab-text-format CarMax
                .col
                    .project-sub-tab
                        a(href="javascript:displayProject('project2');")
                            span.tab-text-format Crime in Washington
                .col
                    .project-sub-tab
                        a(href="javascript:displayProject('project1');")
                            span.tab-text-format Frugal
        #overallProjects.container
            .projectContainer
                #project7.hidden
                    .row
                        ul.projectList.col-sm-4.col-md-6.col-lg-4
                            li.projectDate Feb. 2018 - Mar. 2018
                            li
                                | Gif #1 demonstrates a basic search with the key term "arizona" and query suggestions are displayed form the trie data structure.
                            li Gif #2 demonstrates a popular search using the key term "Trump".
                            li
                                | Gif #3 demonstrates a combination of cross domain AJAX to an EC2 instance of a previous NBA search assignment and AJAX to Azure webservice to retrieve crawled CNN URL's.
                            li
                                | Gif #4 demonstrates caching results. The first time "Obama" is searched, it takes a while to query the results and is stored into a dictionary data structure. The next time it queries and checks the dictionary for a faster result.
                            li
                                | Gif #5 demonstrates combining non-consecutive search key words. Instead of searching for one string search it splits the search "diet" and "exercise" and finds results based off of this.
                            li
                                | Built a search engine that takes any user input and outputs any search results from CNN.com.
                            li
                                | Demonstrates the trie data structure using Wikipedia titles as nodes for search suggestions.
                            li
                                | Features a dashboard as well for the backend web crawler that is crawling CNN for URL's.
                            li
                                | Crawled information stored in Azure tables and uses Azure queue to communicate from client-side to server-side. Wikipediat title data hosted in Azure Blob Storage and website is deployed using Azure.
                            li
                                | NBA Search are results of cross domain AJAX calls to my NBA search application that returns JSONP. NBA headshot images utilizes the NBA Headshot API.
                            li Developed with - C#, ASP.NET, HTML, CSS, JavaScript (AJAX, JQUERY).
                            li
                                a(href="http://wesweisearchengine.cloudapp.net/") Live Search Engine Project
                        .projectImages.col-sm-8.col-md-6.col-lg-8.text-center
                            .slide
                                img(src="images/ProjectSearchEngine/PA4 Gif 1.gif")
                            .slide
                                img(src="images/ProjectSearchEngine/PA4 Gif 2.gif")
                            .slide
                                img(src="images/ProjectSearchEngine/PA4 Gif 3.gif")
                            .slide
                                img(src="images/ProjectSearchEngine/PA4 Gif 4.gif")
                            .slide
                                img(src="images/ProjectSearchEngine/PA4 Gif 5.gif")
            .projectContainer
                #project6.hidden
                    .row
                        ul.projectList.col-sm-4.col-md-6.col-lg-4
                            li.projectDate Jan. 2018 - Feb. 2018
                            li Generates query suggestions based on user text input.
                            li Demonstrates the trie data structure using Wikipedia titles as nodes.
                            li Data is hosted in Azure Blob Storage and website is deployed using Azure.
                            li Microsoft Stack - C#, ASP.NET, HTML, AJAX, JQUERY
                            li
                                a(href="http://weswinfo344cloudservice.cloudapp.net/") Live Query Suggestion Project
                        .projectImages.col-sm-8.col-md-6.col-lg-8
                            .slide
                                img(src="images/ProjectQuerySuggestion/QuerySuggestion1.JPG")
                            .slide
                                img(src="images/ProjectQuerySuggestion/QuerySuggestion2.JPG")
                            .slide
                                img(src="images/ProjectQuerySuggestion/QuerySuggestion3.JPG")
                            .slide
                                img(src="images/ProjectQuerySuggestion/QuerySuggestion4.JPG")
                            .slide
                                img(src="images/ProjectQuerySuggestion/QuerySuggestion5.JPG")
            .projectContainer
                #project5.hidden
                    .row
                        ul.projectList.col-sm-4.col-md-6.col-lg-4
                            li.projectDate Nov. 2017 - Dec. 2017
                            li University of Washington - Info 343 - Final Project
                            li
                                | Designed to help anyone decide what to cook based off of what ingredients they have
                                | left in their refrigerator. In addition, this website sets out to decrease food wastage
                                | by allowing users to input ingredients which this application helps generate relevant recipes.
                            li Recipes are generated using the Yummly API.
                            li
                                | Utilizes Firebase for user authentication and storing recipes in the database. User authentication
                                | is added to keep personalized favorited recipes to each user. For each user a group of recipes is
                                | tagged on in Firebase Database each time a recipe is favorited. Figuring out how to add and extract
                                | data on the client side to the backend side was the most difficult part.
                            li
                                | Developed using HTML, CSS, Javascript and React.js. Material.ui and Bootstrap is used to
                                | add even better styling effects.
                            li
                                a(href="https://github.com/eropes/Info343-FinalProject") Github Repo for Cuisinify
                        .projectImages.col-sm-8.col-md-6.col-lg-8
                            .slide
                                img(src="images/ProjectCuisinify/Cuisinify1.JPG")
                            .slide
                                img(src="images/ProjectCuisinify/Cuisinify2.JPG")
                            .slide
                                img(src="images/ProjectCuisinify/Cuisinify3.JPG")
                            .slide
                                img(src="images/ProjectCuisinify/Cuisinify4.JPG")
                            .slide
                                img(src="images/ProjectCuisinify/Cuisinify5.JPG")
                            .slide
                                img(src="images/ProjectCuisinify/Cuisinify6.jpg")
            .projectContainer
                #project4.hidden
                    .row
                        ul.projectList.col-sm-4.col-md-6.col-lg-4
                            li.projectDate Jul. 2016 - Present
                            li Personal project designed to improve the outdated version of this website.
                            li
                                | Most difficult part of this project was learning the whole process of web development:
                                | learning the coding languages from scratch, designing for user needs, and deploying the website.
                            li Developed using HTML, CSS, Javascript.
                            li
                                a(href="http://www.5starupholsteryanddrapery.com") Five Star Upholstery & Drapery Website
                        .projectImages.col-sm-8.col-md-6.col-lg-8
                            .slide
                                img(src="images/ProjectFiveStar/FiveStar0.JPG")
                            .slide
                                img(src="images/ProjectFiveStar/FiveStar1.png")
                            .slide
                                img(src="images/ProjectFiveStar/FiveStar2.png")
                            .slide
                                img(src="images/ProjectFiveStar/FiveStar3.png")
                            .slide
                                img(src="images/ProjectFiveStar/FiveStar4.png")
                            .slide
                                img(src="images/ProjectFiveStar/FiveStar5.png")
            .projectContainer
                #project3.hidden
                    .row
                        ul.projectList.col-sm-4.col-md-6.col-lg-4
                            li.projectDate Feb. 2017 - Mar. 2017
                            li University of Washington - Info 360 - Final Project
                            li
                                | Redesigned a mobile app prototype for CarMax with the intention to keep car searching user friendly.
                            li
                                | The project goal is to create an experience that identifies with the customers
                                | lifestyle and needs in a vehicle and provides a accurate user generated car that
                                | fits their expectations.
                            li
                                | Process of the project included: whiteboard sketches, paper prototype & user flow,
                                | wireframes, user interviews, clickable protype, documentation, and a usability test.
                            li
                                | Prototyped using Adobe XD.
                        .projectImages.col-sm-8.col-md-6.col-lg-8
                            .slide
                                img(src="images/ProjectCarMax/CarMax1.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax2.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax3.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax4.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax5.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax6.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax7.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax8.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax9.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax10.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax11.jpg")
                            .slide
                                img(src="images/ProjectCarMax/CarMax12.jpg")
            .projectContainer
                #project2.hidden
                    .row
                        ul.projectList.col-sm-4.col-md-6.col-lg-4
                            li.projectDate Mar. 2017
                            li University of Washington - Info 201 - Final Project
                            li
                                | The data the group extracted is from the Data.gov website. This dataset displays the
                                | crimes committed inside the state of washington, specifically the county and the year.
                            li Developed using R and deployed with Shiny.
                            li
                                a(href="https://github.com/JourneyToTheWes/crime-in-washington") Github Repo for Crime in Washington
                        .projectImages.col-sm-8.col-md-6.col-lg-8
                            .slide
                                img(src="images/ProjectCrimeInWashington/CIW1.JPG")
                            .slide
                                img(src="images/ProjectCrimeInWashington/CIW2.JPG")
                            .slide
                                img(src="images/ProjectCrimeInWashington/CIW3.JPG")
                            .slide
                                img(src="images/ProjectCrimeInWashington/CIW4.JPG")
                            .slide
                                img(src="images/ProjectCrimeInWashington/CIW5.JPG")
                            .slide
                                img(src="images/ProjectCrimeInWashington/CIW6.JPG")
                            .slide
                                img(src="images/ProjectCrimeInWashington/CIW7.JPG")
            .projectContainer
                #project1.hidden
                    .row
                        ul.projectList.col-sm-4.col-md-6.col-lg-4
                            li.projectDate Nov. 2016 - Dec. 2016
                            li University of Washington - Info 200 - Final Project
                            li
                                | Wireframe prototype of an application with the purpose of helping out University students
                                | save money by creating transactions with other University students over objects that they want
                                | to buy and sell. With the University student in mind, location is also important to provide
                                | convenience and save time.
                            li
                                | Prototyped using Balsamiq.
                        .projectImages.col-sm-8.col-md-6.col-lg-8
                            .slide
                                img(src="images/ProjectFrugal/Frugal1.JPG")
                            .slide
                                img(src="images/ProjectFrugal/Frugal2.JPG")
                            .slide
                                img(src="images/ProjectFrugal/Frugal3.JPG")
                            .slide
                                img(src="images/ProjectFrugal/Frugal4.JPG")
                            .slide
                                img(src="images/ProjectFrugal/Frugal5.JPG")
                            .slide
                                img(src="images/ProjectFrugal/Frugal6.JPG")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
        script(src="ProjectScript.js")