#logo {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#cover-section {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-attachment: fixed;
    background-image: url("images/cover-page-background.jpeg");
    margin-bottom: 20px;
}

.resume-sub-tab {
    border: 2px solid black;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    background-image: url("images/cover-page-background.jpeg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.resume-sub-tab:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,.5);
    transform: scale(1.2, 1.2);
}

#resume-tabs {
    text-align: center;
    margin-bottom: 30px;
}

.tab-text-format {
    white-space: pre-wrap;
    font-weight: bold;
    color: black;
    font-size: 12px;
}

.hidden {
    display: none;
}

.general-resume-formatting ul {
    list-style-type: none;
}

li:not(#nestedList) {
    margin-bottom: 30px;
}

span.skillHighlight {
    font-weight: 450;
    font-style: italic;
}

.timeline {
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
}

#leadershipTitle, #leadershipPosition {
    font-weight: 300;
    text-decoration: underline;
}