.app-header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-header.fixed {
	position: fixed;
	z-index: 100;
}

.app-header.sticky {
	position: sticky;
}

.top-left {
	top: 0px;
	left: 0px;
}

/* Start Logo styling */
.logo {
	border: 1px solid black;
	border-radius: 50%;
	height: 100px;
	margin: 25px;
	width: 100px;
	cursor: pointer;
}
/* End Logo styling */