.navbar-container {
    position: absolute;
	width: 100%;
	display: flex;
	/* flex-direction: row; */
	flex-wrap: wrap;
	justify-content: space-around;
}

.navbar-link {
    text-decoration: none;
	color: black;
	font-size: 3em;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 25px;
	padding: 0.25rem 1rem 0.25rem 1rem;
	transition: all 0.5s ease-in-out;
	margin: 0.5rem;
}

.navbar-link:hover {
	color: #edb116;
	transform: scale(1.05, 1.05);
}