@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #f8fafc;
    --color-surface: #ffffff;
    --color-card: #ffffff;

    --color-content: #0f172a;

    --color-primary: #2563eb;
    --color-secondary: #dbeafe;
    --color-accent: #0ea5e9;

    --color-muted: #64748b;
    --color-border: #e2e8f0;
}

.dark {
    --color-background: #020617;
    --color-surface: #0f172a;
    --color-card: #1e293b;

    --color-content: #e2e8f0;

    --color-primary: #60a5fa;
    --color-secondary: #1e3a8a;
    --color-accent: #38bdf8;

    --color-muted: #64748b;
    --color-border: #334155;
}

:root {
    font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Base styling */
body {
    @apply bg-background text-content;
}

* {
    @apply border-border;
}
