@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #f8fafc;
    --color-surface: #ffffff;
    --color-card: #ffffff;

    --color-content: #0f172a;

    --color-primary: #166534;
    --color-secondary: #dcfce7;
    --color-accent: #64748b;

    --color-muted: #e5e5e5;
    --color-border: #e2e8f0;
}

.dark {
    --color-background: #0f172a;
    --color-surface: #1e293b;
    --color-card: #1e293b;

    --color-content: #f1f5f9;

    --color-primary: #4ade80;
    --color-secondary: #064e3b;
    --color-accent: #94a3b8;

    --color-muted: #334155;
    --color-border: #334155;
}

/* Base styling */
body {
    @apply bg-background text-content;
}

* {
    @apply border-border;
}
