html,
body,
.app {
	height: 100%;
	width: 100%;
}

/* Logo styling */
.logo {
	border: 1px solid black;
	border-radius: 50%;
	height: 100px;
	margin: 25px;
	width: 100px;
	cursor: pointer;
}

.top-left-abs {
	position: absolute;
	top: 0px;
	left: 0px;
}

/* Start Scrollbar */

/* width */
::-webkit-scrollbar {
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(237, 177, 22, 0.8);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(237, 177, 22, 1);
}

/* End Scrollbar */
