html {
	height: 100%;
}

body, #root {
	height: 100vh;
	width: 100%;
}

/* Start Scrollbar */

/* width */
::-webkit-scrollbar {
	height: 0.5rem;
	width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(237, 177, 22, 0.8);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgba(237, 177, 22, 1);
}

/* End Scrollbar */
